* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.troll-img {
  width: "32px";
  height: 100%;
  margin-right: 6px;
}
.header {
  display: flex;
  align-items: center;
  color: white;
  height: 65px;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.Meme-title {
  font-size: 21px;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: -2px;
}
.react-title {
  width: 200px;
  font-size: 12px;
  font-weight: 500;
}
input::placeholder {
  color: black;
  font-family: Karla;
  font-size: 12px;
  text-indent: 5px;
}
.text-search {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-top: 16px;
}
.memeimg {
  max-width: 80%;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
.meme-button {
  grid-column: 1/-1;
  color: white;
  font-family: Karla;
  font-size: 16px;
  letter-spacing: -1.6px;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 200px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
