* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.troll-img {
  width: "32px";
  height: 100%;
  margin-right: 6px;
}
.header {
  display: flex;
  align-items: center;
  color: white;
  height: 65px;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.Meme-title {
  font-size: 21px;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: -2px;
}
.react-title {
  width: 200px;
  font-size: 12px;
  font-weight: 500;
}
