* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.troll-img {
  width: "32px";
  height: 100%;
  margin-right: 6px;
}
.header {
  display: flex;
  align-items: center;
  color: white;
  height: 65px;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.Meme-title {
  font-size: 21px;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: -2px;
}
.react-title {
  width: 200px;
  font-size: 12px;
  font-weight: 500;
}
input::placeholder {
  color: black;
}
.text-search {
  display: flex;
  justify-content: center;
  gap: 17px;
}
#search-bar,
#search-bar2 {
  width: 230px;
  height: 35px;
  font-family: Karla;
  font-size: 12px;
  padding: 10px 11px 11px;
  margin: 36px 0px 15px;
}
.meme-button {
  display: block;
  margin: 0 auto;
  color: white;
  width: 477px;
  height: 40px;
  font-family: Karla;
  font-size: 16px;
  letter-spacing: -1.6px;
  border-radius: 5px;
  font-weight: 700;
  border: #672280;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
